body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

img{
    width: 40vw;
}

p{
    color: rgba(255,255,255,.7);
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
}

.fullCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #273040;
}